.App {
  text-align: center;
}

.oneContainer
{
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.twoContainer
{
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.threeContainer
{
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}